.container {
  margin: 40px auto 20px auto;
  width: 600px;
  padding: 0px 20px 40px 20px;
  border: 1px dotted black;
  background: white;
}

th {
  text-align: left;
}

#anagram_list p {
  margin: 8px 0;
  padding: 0;
}

body {
  text-align: center;
  background: black;
}

form {
  margin-top: 30px;
}

h1 {
  font-size: 3.5em;
}
