.container {
  margin: 100px auto 20px auto;
  width: 600px;
  padding: 0px 20px 40px 20px;
  border: 75px solid #0C0900;
  background: white;
  border-radius: 15px;
  opacity: 65%;
}

th {
  text-align: left;
}

#anagram_list p {
  margin: 8px 0;
  padding: 0;
}

body {
  text-align: center;
/*  background-color: black;*/
  background-image:url('leopard.jpeg');
    font-style: bold;
}

form {
  margin-top: 30px;
}

h1 {
  font-size: 3.5em;
}

#button {
  padding: 10px;
  border-radius: 15px;
/*  background: #0C0900;
  color: white;*/
  margin-left: 14px;
  font-weight: bold;

}
