<div class="container">
  <h1>Anagram-o-matic</h1>
  <% if @word %>
    <h3>Your anagrams are:</h3>
      <span id="anagram_list">
        <% Word.anagrams(@word).each do |word| %>
          <p><%=word%></p>
        <%end%>
      </span>
  <% end %>

  <form action="/word" method="post">
    Want anagrams? Give me a word!
    <br>
    <br>
    <input type="text" name="word">
    <input id = "button" type="submit" value="ANAGRAM IT!">
  </form>
</div>
