<div class="container">
  <h1>Anagram Machine</h1>
  <% if @word %>
    <p>Your anagrams are:<br>
      <span id="anagram_list">
        <% Word.anagrams(@word).each do |word| %>
          <%=word%>
          <br>
        <%end%>
      </span></p>
  <% end %>

  <form action="/word" method="post">
    Enter a word to find anagrams for:
    <br>
    <br>
    <input type="text" name="word">
    <input type="submit" value="ANAGRAM IT!">
  </form>
</div>
